* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#canvas1 {
  border: 5px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#player,
#city_layer1,
#city_layer2,
#city_layer3,
#city_layer4,
#city_layer5,
#forest_layer1,
#forest_layer2,
#forest_layer3,
#forest_layer4,
#forest_layer5,
#enemy_fly,
#enemy_plant,
#enemy_spider_big,
#fire,
#collisionAnimation,
#life {
  display: none;
}

.guide_text {
  position: absolute;
  top: calc(50% + 330px);
  left: calc(50% - 150px);
  transform: translate(-50%, -50%);
}
.guide_text > p {
  margin-top: 4px;
  font-size: 18px;
}
.guide_text > p.text_gray {
  margin-top: 6px;
  font-size: 14px;
  color: red;
}

.controls {
  position: absolute;
  z-index: 10;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}
.controls,
select,
option {
  font-size: 25px;
}
